/* ======= Globals ======== */

body { 
    margin: 0;
    background-color: #36384c;
    display: grid;
    grid-template-columns:auto 700px auto;
    grid-template-rows:150px 250px 120px 50px auto auto auto auto;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
}
button {
    cursor: pointer;
}

a:hover {
    color: #cb4e4e;
}

.titles {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

/* isometric Button */
.isobtn {
    text-align: unset;
    border: none;
    outline: none;
    color: #fff;
    background: #cb4e4e;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    margin: 0px 20px;
    box-shadow: 0 6px #ab3c3c;
    display: inline-block;
    position: relative;
    transition: none;
  }

    
  .isobtn:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
  }
    
  .isobtn:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
  }

/* ======= Nav & Tag Line ======== */

#navlinks {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: center;
    z-index: 900;
    margin-right: 5%; 
}

#navlinks button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

#tag {
    color: #36384c;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: 100px;
    text-transform: uppercase;
    text-align:left;
    line-height: 150px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
}

#tag:hover {
    color: #cb4e4e;
}

/* ======= Header ======== */

.headpic {
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
}

.headpic img {
    display:block;
    margin:auto;
}

.headname {
    grid-column: 2 / span 1;
    grid-row: 3/ span 1;
    text-transform: uppercase;
    text-align: center;
    line-height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

.headlinks {
    grid-column: 2 / span 1;
    grid-row: 4/ span 1;
    line-height: 50px;
    text-align: center;
}

.headlinks a{
    padding-right: 15px;
    padding-left: 15px;
}

/* ========= Essay Styles ========== */

.essay {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
    margin: 50px;
    margin-top: 150px;
}

.essayblock {
    width: 250px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    float: left;
}

.essayblockimg {
    padding: 0;
    border: none;
}

.essaytitles {
    margin-bottom: 5px;
}

.essayblurb {
    font-size: 13px;
    margin: 0px;
}

/* ========= Gallery Styles ========== */

.gallery {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    margin: 50px;
    margin-top: 150px;
}

.galblock {
    width: 340px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    float: left;
}

.galblock .galblockimg {
    padding: 0;
    border: none;
}
.galblock .galblocktitle{
    font-size: 22px;
    margin: 0 0 0 0;
}
.galblock .galblocksub{
    font-size: 18px;
}

.galblock .galblockblurb{
    font-size: 13px;
}

/* ======= Work Blocks ======== */

.work {
    grid-column: 1 / span 3;
    grid-row: 7/ span 1;
    margin: 50px;
}

.workblock {
    height: 200px;
    width: 300px;
    margin: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    float: left;
}

.workblock .worktitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.workblock p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px
}

.worklinks a {
    margin-right: 2.5px;
    margin-left: 2.5px
}

/* ========= Contact Styles ========== */

.contact {
    grid-column: 1 / span 3;
    grid-row: 8 / span 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.99) 100%), url('../img/lifegoal.png') no-repeat;
    background-size: cover;
    background-color: #36384c;
}

#form {
    margin-top: 35px; 
    text-align: center;
}

#form input[type="text"],input[type="email"], textarea {
    width: 50%; 
    margin-bottom: 35px;
    padding:20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    resize: vertical;
}

#form input::placeholder,textarea::placeholder {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#fsub {
    margin-left: 45%;
}
#form input[type=submit] {
    width:auto;
    padding: 12px 20px;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* ========= to top button Styles ========== */
#topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#topbtn:hover {
    color: #cb4e4e;
}