<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Gallery Item Template</title>
    
        <link href="../css/lib/tingle.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:bold,thin" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link href="essayTemplate.css" rel="stylesheet">
        <link href="../css/modal.min.css" rel="stylesheet">

    </head>

    <body>
        <div class="essay" id="ess">
            <div class="titles">
                <h2>Essay</h2>
            </div>

            <div class="essayblock">
                <button class="essayblockimg" id="galtempbtn" onclick="openessaytempmodal()">
                    <img src="http://via.placeholder.com/250x150">
                </button>
                <h4 class="essaytitles">Essay Template</h4>
                <p class="essayblurb">
                    Tiramisu pie I love oat cake ice cream. Halvah lemon drops pudding jelly-o chocolate 
                    I love pudding. Danish dessert chupa chups toffee topping apple pie. 
                </p>
            </div>

        </div>

        <script src="../js/lib/tingle.min.js"></script>
        <script src="essayTemplate.js"></script>

    </body>
</html>
