<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Gallery Item Template</title>
    
        <link href="../css/lib/tingle.min.css" rel="stylesheet">
    
        <link href="https://fonts.googleapis.com/css?family=Montserrat:bold,thin" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link href="gallTemplate.css" rel="stylesheet">
    </head>

    <body>
        <div class="gallery" id="gal">
            <div class="titles">
                <h2>Gallery</h2>

                <div id="galblock">
                    <button id="galblockimg" onclick="opengaltempmodal()">
                        <img src="http://via.placeholder.com/250x150">
                    </button>
                            <h4 class="galblocktitle">Gallery Template</h4>
                            <p>
                                (WORK IN PROGRESS)<br>
                                A real time network visualization packet analyzer. 
                                Has the ability to work with all nic's capable of monitor
                                mode and pinapples. Save to pcap and pipe to 
                                wireshark with the press of a button.
                            </p>
                </div>

            </div>
        </div>

        <script src="../js/lib/tingle.min.js"></script>
        <script src="gallTemplate.js"></script>

    </body>
</html>